
<div class="container" onload="fun()">
    <div class="row justify-content-center">
        <div class="col-12 mt-2">
            {{!-- <a role="button" href="/admin/add_category" class="btn btn-success">add category</a> --}}
            <a class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal">New Banner</a>
                    {{!-- add category modal --}}
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    
                    <form action="/admin/add_banner" method="post" id="formid" enctype="multipart/form-data">
                         <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Add a Banner</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        
                        <div class="modal-body">
                            <input
                                    
                                    type="text"
                                    name="title"
                                    class="form-control w-75 "
                                    id="exampleInputEmail1"
                                    aria-describedby="emailHelp"
                                    placeholder="title"
                                />
                                <textarea name="description" class="form-control w-75 mt-1" id="" placeholder="description" cols="30" rows="3"></textarea>
                                    
                                    
                                
                                <input
                                    
                                    type="file"
                                    min="1"
                                    name="pic"
                                    class="form-control w-75 mt-1"
                                    id="exampleInputEmail1"
                                    aria-describedby="emailHelp"
                                    placeholder="discount%"
                                />
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="submit" href="" class="btn btn-primary">Save </button>
                        </div>
                        </div>
                    </div>
                    </form>

                   
                </div>


                    
        </div>
        <div class="col-12 col-md-11 mt-2">
            <table class="table table-striped shadow p-3 mb-5 bg-body rounded" id="product_table"> 
            <thead>
                <tr>
                
                <th scope="col">Title</th>
                <th scope="col">Description</th>
                <th scope="col">picture</th>
                <th scope="col">Action</th>
                </tr>
            </thead>
            
            <tbody>
                {{#each banner}}
                <tr>
                <td>{{this.title}}</td>
                <td>{{this.description}}</td>
                <td style="width: 6%;"><img width="70%" class="img-fluid" src="/{{this.pic}}"  alt=""></td>
                <td>
                                   <!-- Button trigger modal -->
                    <a class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal{{this._id}}">
                    <i class="bi bi-pencil-fill"></i>
                    </a>
                    {{!-- <a href="/admin/edit_category_name/{{this._id}}" class="btn btn-info" role="button">edit</a> --}}
                    {{!-- <a href="/admin/delete/{{this._id}}" class="btn btn-danger" role="button">delete</a> --}}
                    
                    <a style="width: %;" type="button"  class="btn btn-danger "  data-bs-toggle="modal" data-bs-target="#staticBackdrop{{this._id}}"><i class="bi bi-trash3-fill"></i></a>
                </td>
                </tr>



{{!-- category edit modal --}}


<!-- Modal -->
                    <div class="modal fade" id="exampleModal{{this._id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    
            <form action="/admin/edit_banner/{{this._id}}" method="post" id="formid" enctype="multipart/form-data">
                         <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Edit Banner</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        
                        <div class="modal-body">
                            <input
                                    value="{{this.title}}"
                                    type="text"
                                    required
                                    name="title"
                                    class="form-control w-75 "
                                    id="exampleInputEmail1"
                                    aria-describedby="emailHelp"
                                    placeholder="title"
                                />
                                <textarea  name="description" required class="form-control w-75 mt-1" id="" placeholder="description" cols="30" rows="3">{{this.description}}</textarea>
                                    
                                    
                                
                                <input
                                    
                                    type="file"
                                    min="1"
                                    name="pic"
                                    class="form-control w-75 mt-1"
                                    id="exampleInputEmail1"
                                    aria-describedby="emailHelp"
                                    placeholder="discount%"
                                />
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="submit" href="" class="btn btn-primary">Save changes</button>
                        </div>
                        </div>
                    </div>
                    </form>

                   
                    </div>
{{!-- category delete modal --}}
                <div class="modal fade" id="staticBackdrop{{this._id}}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">confirm</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    Are you sure about deleting '{{this.title}}'
                  </div>
                  <div class="modal-footer">
                    <a type="button" href="/admin/categories" class="btn btn-secondary" data-bs-dismiss="modal">no</a>
                    
                    <a  role="button" href="/admin/delete_coupon/{{this._id}}" class="btn btn-primary">yes</a>
                  
                  </div>
                </div>
              </div>
            </div>


          
               

               {{/each}}
          
            </tbody>
            
            
            </table>
        </div>
    </div>
</div>
  <script>
      $(document).ready( function () {
        $('#product_table').DataTable();
    } );
</script>
<script>
  $(document).ready(function(){ $("#formid").validate(
    { rules:
            { 
                category: {
                required: true,
                 }
            } 
            })
             })
</script>
{{#if catExist}}
<script>
  onload=function(){
      swal({
								
			text: "this category is being used by products",
			icon: "warning",
			});
  }
 	

</script>
{{/if}}

{{#if duplicate}}
<script>
  onload=function(){
      swal({
								
			text: "already exists",
			icon: "warning",
			});
  }
 	

</script>
{{/if}}